<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>SF6 Move Index</h1>
    <p>ALEXの技一覧</p>
    <form action="/filter-table-Alex" method="get">
        <input type="text" id="keyword" name="keyword" placeholder="技名を入力" th:value="${keyword}">
        <input type="number" id="minGuard" name="minGuard" placeholder="最小ガード硬直" th:value="${minGuard}">
        <button type="submit">検索</button>
    </form>
    <table id="moveTable" border="1">
        <thead>
            <tr>
                <th>技名</th>
                <th>コマンド</th>
                <th>動作フレーム/発生</th>
                <th>動作フレーム/持続</th>
                <th>動作フレーム/全体</th>
                <th>硬直差/ヒット</th>
                <th>硬直差/ガード</th>
                <th>キャンセル</th>
                <th>ダメージ</th>
                <th>コンボ補正値</th>
                <th>Dゲージ増加/ヒット</th>
                <th>Dゲージ減少/ガード</th>
                <th>Dゲージ減少/パニッシュカウンター</th>
                <th>SAゲージ増加</th>
                <th>属性</th>
                <th>備考</th>
            </tr>
        </thead>
        <tbody id="moveTableBody" th:each="section : ${sections}">

            <tr>
                <td colspan="16" th:text="${section.category}"></td>
            </tr>

            <tr th:each="move : ${section.moves}">
                <td th:text="${move.name}"></td>
                <td th:text="${move.input}"></td>
                <td th:text="${move.motionFrame.startup}"></td>
                <td th:text="${move.motionFrame.active}"></td>
                <td th:text="${move.motionFrame.total}"></td>
                <td th:text="${move.advantage?.hit?:0}"></td>
                <td th:text="${move.advantage?.guard?:0}"></td>
                <td th:text="${move.cancel}"></td>
                <td th:text="${move.damage}"></td>
                <td th:text="${move.correction}"></td>
                <td th:text="${move.driveGauge?.hit?:0}"></td>
                <td th:text="${move.driveGauge?.block?:0}"></td>
                <td th:text="${move.driveGauge?.punish?:0}"></td>
                <td th:text="${move.saGaugeGain}"></td>
                <td th:text="${move.attribute}"></td>
                <td th:text="${move.notes}"></td>
            </tr>

        </tbody>

    </table>
</body>
</html>